option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: jameshamann0@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "crafty-staging"
    AWS_REGION: '`{"Ref" : "eu-west-2"}`'
    BEERS_TABLE: '`{"Ref" : "Beers}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
