option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: jameshamann0@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "crafty-staging"
    AWS_REGION: '`{"Ref" : "eu-west-2"}`'
    STARTUP_SIGNUP_TABLE: '`{"Ref" : "StartupSignupsTable"}`'
    NEW_SIGNUP_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
